
.experiance__container ul {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2% 0 5% 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.experiance__container ul li {
    margin: 15px;
    padding: 2rem;
    background: var(--color-bg-variant);
    list-style-type: none;
    width: 20%;
    text-align: center;
    border: 1px solid var(--color-bg-variant);
    border-radius: 0.5rem;
}

.experiance__container ul li div {
    margin-top: 1rem;
}

.experiance__container ul li .icon {
    font-size: 4rem;
    color: var(--color-primary);
}

.experiance__container ul li:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
    transition: var(--transition);
}

.experiance__container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}   

.experiance__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experiance__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experiance__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experiance__details {
    display: flex;
    gap: 1rem;
}

.experiance__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

/***********************************
Media Queries (Medium Devices)
***********************************/

@media screen and (max-width: 1024px) {
    .experiance__container {
        grid-template-columns: 1fr;
    }  

    .experiance__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experiance__content {
        padding: 1rem;
    }
}
  
/***********************************
Media Queries (small Devices)
***********************************/
@media screen and (max-width: 600px) {
    .experiance__container {
        gap: 1rem;
    }

    .experiance__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }

    .experiance__container ul li {
        width: 30%
    }
}